/* 9 them */

@font-face {
    font-family: Go-Mono;
    src: url(go-mono.woff2) format('woff2'), // preloaded
	 url(go-mono.woff) format('woff'),
	 url(Go-Mono.ttf) format('ttf');
}
  
* {
    font-family: Go-Mono, monospace;
}

body {
    background-color: #ffffea;
}

